<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index">SAVERS</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="index"><a href="index">About</a></li>
            <li id="findSenior"><a href="findSenior">시니어찾기</a></li>
            <li><a href="#">나의성장실록</a></li>
            <li id="test"><a href="test">글쓰기테스트</a></li>
            <li id="listTest"><a href="listTest">글목록테스트</a></li>
            <li id="mapTest"><a href="mapTest">지도테스트</a></li>
            <li id="chatting"><a href="chatting">채팅</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="signup_test"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

            {% if user.username %}
            <li><a href="logout_test"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
            <li><a href="profile"><span class="glyphicon glyphicon-cog"></span></a></li>
            {% else %}
            <li><a href="login_test"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block javascript %}
<script type="text/javascript">
{% if url == "index" %}
    $( "#index" ).addClass( 'active' );
{% elif url == "findSenior" %}
    $( "#findSenior" ).addClass( 'active' );
{% elif url == "test" %}
    $( "#test" ).addClass( 'active' );
{% elif url == "listTest" %}
    $( "#listTest" ).addClass( 'active' );
{% elif url == "mapTest" %}
    $( "#mapTest" ).addClass( 'active' );
{% elif url == "chatting" %}
    $( "#chatting" ).addClass( 'active' );

{% endif %}

</script>

{% endblock %}
