{% extends 'homepage/base/base.html' %}


{% block content %}
{% include 'homepage/inc/findSenior.html' %}


<div class="container">
  <div class="searchbox">
    <div class="row">
      <div class="col-sm-4">
        <img src="/static/homepage/images/communication.png" width="100%">
      </div>
      <div class="col-sm-8">

        <form class="example" action="action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>

          <h3 style="position:relative; top:10px; color:mediumpurple">장르별</h3>
          <hr>
          <div class="boxes">
            <div class="row checkboxList">
              <div class="col-sm-4">
                <input type="checkbox" id="box-1">
                <label for="box-1">진로상담</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-2">
                <label for="box-2">연애상담</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-3">
                <label for="box-3">수능상담</label>
              </div>

              <br><br>

              <div class="col-sm-4">
                <input type="checkbox" id="box-4">
                <label for="box-4">전공관련 고민</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-5">
                <label for="box-5">취직고민</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-6">
                <label for="box-6">군입대 고민</label>
              </div>

              <br><br>

              <div class="col-sm-4">
                <input type="checkbox" id="box-7">
                <label for="box-7">행시준비</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-8">
                <label for="box-8">결혼준비</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-9">
                <label for="box-9">창업고민</label>
              </div>

              <br><br>

              <div class="col-sm-4">
                <input type="checkbox" id="box-1">
                <label for="box-1">진로상담</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-2">
                <label for="box-2">연애상담</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-3">
                <label for="box-3">수능상담</label>
              </div>



              <br><br>

              <div class="col-sm-4">
                <input type="checkbox" id="box-7">
                <label for="box-7">행시준비</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-8">
                <label for="box-8">결혼준비</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-9">
                <label for="box-9">창업고민</label>
              </div>
            </div>
          </div>

          <h3 style="position:relative; top:10px; color:mediumpurple">멘토별</h3>
          <hr>
          <div class="boxes">
            <div class="row checkboxList">
              <div class="col-sm-4">
                <input type="checkbox" id="box-1">
                <label for="box-1">중고등학생</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-2">
                <label for="box-2">대학생</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-3">
                <label for="box-3">회사원</label>
              </div>

              <br><br>

              <div class="col-sm-4">
                <input type="checkbox" id="box-4">
                <label for="box-4">행시 합격생</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-5">
                <label for="box-5">자영업자</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-6">
                <label for="box-6">예체능</label>
              </div>

              <br><br>

              <div class="col-sm-4">
                <input type="checkbox" id="box-7">
                <label for="box-7">디자이너</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-8">
                <label for="box-8">개발자</label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" id="box-9">
                <label for="box-9">백수</label>
              </div>
            </div>
          </div>

        </form>
      </div>


    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-gift"></span>
        &nbsp; &nbsp; EVENT
      </h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="media-object" src="/static/homepage/images/leejaeyoung.jpeg" alt="마진형" width="100px;"></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">최연소 행시 합격자 마진형씨와의 점심만찬</a></h4>
          TOEIC (Test Of English for International Communication, 이하 토익)은 미국 ETS(Educational Testing Service)의 주관하에 치르는 영어 능력시험이다. 듣기 및 읽기 시험인 TOEIC, 말하기 및 쓰기 시험인 TOEIC Speaking and Writing Tests 등이 있으며, 보통 토익이라고 말하면 듣기 및 읽기 시험, 토스나 TOEIC Speaking 시험이라고 말하면 말하기 시험을 가리킨다.

          한국에서는 토익을 주로 일요일에 본다. 토요일에 주로 보는 TOEFL과 차이가 있다.
        </div>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="media-object" src="/static/homepage/images/twice.png" alt="정혜인" width="100px"></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">TWICE에게 듣는 아이돌 연습생의 마음가짐</a></h4>
          칼리지 보드(College board)에서 주관하는 Scholastic Aptitude Test의 준말이었다. 원래 1900년대 초부터 저 이름으로 불렸으나, "이게 지능시험이냐?"라는 비난을 받자 1990년 "Scholastic Assessment Test"로 바뀐 다음, 1993년 그냥 SAT라는 이름으로 고유명사화되었다. 따라서 현재 SAT는 약자가 아니다.

          대부분의 미국 대학에 지원하는데 쓰이는 시험. 한마디로 "이 학생이 대학교에서 배울 학문에 접근할 능력이 있는가?"를 판가름하는 시험이라고 할 수 있다.
        </div>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="media-object" src="/static/homepage/images/hansekwon.png" alt="노민철" width="100px"></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">나는 중학생 때 부터 분필을 잡았다!</a></h4>
          국제수학올림피아드는 대학 교육을 받지 않은 만 20세 미만의 학생을 대상으로 열리는 국제 과학올림피아드의 하나이다. 국제 과학올림피아드들 가운데 가장 큰 규모와 오래된 역사를 자랑하고 있으며 1959년 루마니아의 1회 대회를 시작으로 2015년 태국에서 56회[1]째가 열린 이 대회에 무려 114개국이 참가한다. 41회 IMO는 대한민국의 대전에서 개최되었다. 초창기에는 동구권 국가들만 참가했으나 갈수록 참가국이 늘고 있다.
        </div>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="media-object" src="/static/homepage/images/warrenbuffit.png" alt="정주승" width="100px"></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">주식? 독인지 득인지 파헤쳐봅시다.</a></h4>
          TOEIC (Test Of English for International Communication, 이하 토익)은 미국 ETS(Educational Testing Service)의 주관하에 치르는 영어 능력시험이다. 듣기 및 읽기 시험인 TOEIC, 말하기 및 쓰기 시험인 TOEIC Speaking and Writing Tests 등이 있으며, 보통 토익이라고 말하면 듣기 및 읽기 시험, 토스나 TOEIC Speaking 시험이라고 말하면 말하기 시험을 가리킨다.

          한국에서는 토익을 주로 일요일에 본다. 토요일에 주로 보는 TOEFL과 차이가 있다.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}