{% extends 'homepage/base/base.html' %}


{% block content %}
{% include 'homepage/inc/chattingList.html' %}

<div class="container">
    <table class="table table-hover">
        <tbody>
        <tr onclick="location.href='{% url 'chatting' %}'">
            <td>
                <img src="/static/homepage/images/default_person.png" width="100px;"></a>
            </td>
            <td>
                안녕하세요 저는 올해 고등학교 2학년 되는 학생입니다. 올려주신 프로필과 이력서를 잘 살펴보았습니다. 문과지만 이공계열로 진학하셨던데 저도 지금 같은 고민을 하고있는
                처지라 연락 드리게 되었습니다. 더 많은 이야기 나눠보고 싶습니다.
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/homepage/images/default_person.png" width="100px;"></a>
            </td>
            <td>
                안녕하세요 저는 올해 고등학교 2학년 되는 학생입니다. 올려주신 프로필과 이력서를 잘 살펴보았습니다. 문과지만 이공계열로 진학하셨던데 저도 지금 같은 고민을 하고있는
                처지라 연락 드리게 되었습니다. 더 많은 이야기 나눠보고 싶습니다.
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/homepage/images/default_person.png" width="100px;"></a>
            </td>
            <td>
                안녕하세요 저는 올해 고등학교 2학년 되는 학생입니다. 올려주신 프로필과 이력서를 잘 살펴보았습니다. 문과지만 이공계열로 진학하셨던데 저도 지금 같은 고민을 하고있는
                처지라 연락 드리게 되었습니다. 더 많은 이야기 나눠보고 싶습니다.
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/homepage/images/default_person.png" width="100px;"></a>
            </td>
            <td>
                안녕하세요 저는 올해 고등학교 2학년 되는 학생입니다. 올려주신 프로필과 이력서를 잘 살펴보았습니다. 문과지만 이공계열로 진학하셨던데 저도 지금 같은 고민을 하고있는
                처지라 연락 드리게 되었습니다. 더 많은 이야기 나눠보고 싶습니다.
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/homepage/images/default_person.png" width="100px;"></a>
            </td>
            <td>
                안녕하세요 저는 올해 고등학교 2학년 되는 학생입니다. 올려주신 프로필과 이력서를 잘 살펴보았습니다. 문과지만 이공계열로 진학하셨던데 저도 지금 같은 고민을 하고있는
                처지라 연락 드리게 되었습니다. 더 많은 이야기 나눠보고 싶습니다.
            </td>
        </tr>
        </tbody>
    </table>

</div>



{% endblock %}