.jumbotron {
    text-shadow: black 50px;
    color: pink;
    background-image: url('/static/homepage/images/jumbotron3.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
}

.align-center-parent{
    text-align: center;
}